* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-container {
  width: 700px;
  border: 5px solid #111010;
  background-color: #fff;
  padding: none;
  position: relative;
}

.sale {
  position: absolute;
  top: -10px;
  left: -30px;
  background-color: #d9534f;
  color: white;
  font-size: 30px;
  padding: 4px 8px;
  font-weight: bold;
}

.top-part {
  text-align: center;
  font-size: 13px ;
  background-color: rgb(199, 195, 195);
}


.content {
  display: flex;
  margin: auto;
}

img {
  width: 20%;
  object-fit: fill;
  border-radius: 0px;
  margin-bottom: 0px;
}

.product-info {
  width: 50%;
  padding-left: 15px;
}

.shipping {
  display: flex;
  align-items: baseline;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  top: 70px; 
}

.free {
  color: #888;
  font-size: 14px;
  position: absolute;
  margin-left: 100px;
  align-self: flex-start;
  position: absolute;
  top: 58px;
}
.details {
  color: #090000;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  margin-left: 260px; 
  align-self: flex-start; 
  position: absolute;
  top: 58px; 
}

.description {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
}

.more-info {
  font-size: 14px;
  color: #000000;
  text-decoration: underline;
}

.markers {
  display: flex;
  gap: 6px;
  margin: 10px 0;
}

.marker {
  
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  cursor: pointer;

}

.marker.black { background-color: #000; }
.marker.blue { background-color: #0044cc; }
.marker.red { background-color: #ff0000; }
.marker.orange { background-color: #ffa500; }
.marker.green { background-color: #00cc00; }
.marker.brown { background-color: #8b4513; }


.product-details {
  margin-top: 10px;
  padding: 15px;
}

.product-details ul {
  list-style-type: none;
  font-size: 14px;
  margin-left: 270px; 
  align-self: flex-start; 
  position: absolute;
  top: 70px; 
}

.product-details li {
  margin: 10px 0;
}

.cart {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  background-color: #080808;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 0px;
}
.cart:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}